
TriCon/src/main/java/TriCon/controller/industrialistController.java
TriCon/src/main/java/TriCon/controller/industrialistController.java
TriCon/src/main/resources/templates/fragments/index.html
TriCon/target/classes/templates/fragments/index.html
