<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../img/logo1.png"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>


</head>
<body>
<div id="wrapper">
    <div th:replace="fragments/header :: header">
    </div>
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar">
        </div>
        <div class="col-xs-12 col-md-9 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 customheading">
                            Inspection Report
                        </div>
                        <div class="col-xs-12 col-md-3">
            <span><label>From</label>
            <input type="date"/></span>
                        </div>
                        <div class="col-xs-12 col-md-3">
             <span><label>To</label>
            <input type="date"/></span>
                        </div>
                    </div>
                </div>
                <br></br>
                <div class="panel-body">

                    <span>
                            <label class="col-xs-6 col-md-3">Name of Officer</label>
                            <label class="showarea col-xs-6 col-md-9">Mr.kamal</label>
                    </span>
                    <span>
                            <label class="col-xs-6 col-md-3">Designation of Officer</label>
                            <label class="showarea col-xs-6 col-md-9">Lecturer</label>
                    </span>
                    <span>
                            <label class="col-xs-6 col-md-3">Remarks</label>
                            <label class="showarea col-xs-6 col-md-9">Good at work</label>
                    </span>
                    <span>
                            <label class="col-xs-6 col-md-3">Signature</label>
                            <label class="showarea col-xs-6 col-md-9">kamallllll</label>
                    </span>
                    <span>
                            <label class="col-xs-6 col-md-3">Date</label>
                            <label class="showarea col-xs-6 col-md-9">29/09/2017</label>
                    </span>

                    <br></br>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>