<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="../img/logo1.png" />
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />


</head>
<body class="bgstyle">
<div id="wrapper">
    <div th:replace="Fragments/header :: indHeader">
    </div>
    <div class="row">
        <div th:replace="Fragments/sideBar :: indSideBar">
        </div>
        <div class="col-xs-12 col-md-9 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 customheading">
                            Progress Report
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="/Ind/prog"  method="post" class="form-horizontal">
                        <center>
                            <font>PROGRESS REPORT OF AN ESTABLISHMENT ON TRAINNING PERFORMANCE</font>
                        </center><br></br>
                            <div class="form-group">
                                <label >Name of Establishment</label>
                            </div>
                            <b>Period of trainning</b><br></br>

                            <b>Comments of trainning</b>

                            <div class="form-group">
                                <label>Attitude to work</label>
                                <textarea class="form-control" th:required="required" name="attitude" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Conduct</label>
                                <textarea class="form-control" th:required="required" name="conduct" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Attendance</label>
                                <table  border="1" width="950">
                                    <tr>
                                        <th>Type of Leave</th>
                                        <th>Number of days</th>
                                    </tr>
                                    <tr>
                                        <td><label>Authorised Leave</label></td>
                                        <td><input type="text" name="auth" class="form-control" th:required="required" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Unauthorised Leave</label></td>
                                        <td><input type="text" name="unauth" class="form-control" th:required="required" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>Enter your key password to put your digital Signature</label>
                                <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-key"></span>
                                                        </span>
                                    <input type="password" class="form-control" name="KeyPassword"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="code123"
                                           placeholder="your key Password!" th:required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Enter your key word to verify your digital Signature</label>
                                <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-edit"></span>
                                                        </span>
                                    <input type="password" class="form-control" name="KeyWord"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="code13"
                                           placeholder="your key word!" th:required="required"/>
                                </div>
                            </div>
                            <div th:if="${not #lists.isEmpty(warning)}" th:text="${warning}">
                            </div>
                            <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-xs-3 col-sm-3 col-md-3">
                                <button type="submit" name="action" th:value="${journalId}"
                                        class="btn btn-info">
                                    Submit
                                </button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>