<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../img/logo1.png"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>


</head>
<body class="bgstyle">
<div id="wrapper">
    <div th:replace="Fragments/header :: adminHeader">
    </div>
    <div class="row">
        <div th:replace="Fragments/sideBar :: adminSideBar">
        </div>
        <div class="col-xs-12 col-md-9 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 customheading">
                            <center> ADD UNIVERSITY DETAILS</center>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post"
                          action="/Admin/universities">
                        <table border="1" width="950">
                            <tr>
                                <th>ID</th>
                                <th>UNIVERSITY NAME</th>
                                <th>SHORT CUT</th>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" name="Id"  th:required="required" /></td>
                                <td><input type="text" class="form-control" name="UniName"  th:required="required" /></td>
                                <td><input type="text" class="form-control" name="ShortCut"  th:required="required" /></td>
                            </tr>
                        </table>
                        <button type="submit" id="btn-login" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="Fragments/footer :: footer">
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="../../js/bootstrap.min.js"></script>

</body>
</html>