<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="../img/logo1.png" />
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />


</head>
<body class="bgstyle">
<div id="wrapper">
    <div th:replace="Fragments/header :: lecHeader">
    </div>
    <div class="row">
        <div th:replace="Fragments/sideBar :: lecSideBar">
        </div>
        <div class="col-xs-12 col-md-9 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mr.X journal</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/Lec/inspectReportEdit" method="post">
                        <div>
                            Today :<strong th:text="${localDate}"></strong><br/>
                            <span><label>Select a date to Inspection report </label>
                            <input type="date" id="date" name="date" th:required="required" />
                            </span>
                        </div>

                        <div class="form-group">
                            <br></br>
                            <center><h4><b>Inspect No-3</b></h4></center>
                            <div class="spacer"></div> <div class="col-sm-12"><textarea  name="report" class="form-control" rows="8"  th:required="required"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <center> <label>
                                        <input type="checkbox" th:required="required" /> The above informations are filled by me.
                                    </label></center>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <br></br>
                            <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-5 col-sm-4 col-md-5">

                                <center> <button name="journal" th:value="${journalId}">Save </button></center>
                            </div>

                        </div>
                    </form>
                </div>

                        <br></br><br></br>
                            <button class="btn btn-default  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <b>Existing Inspection  Reports</b>
                                <span class="caret"></span>


                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><b>inspect on 1st april</b></a></li>
                                <li><a href="#"><b>inspect on 6st april</b></a></li>
                                <li><a href="#"><b>inspect on 1st may</b></a></li>

                            </ul>
                            </button>
                        </div>
                    </div>




    </div>
</div>
<div th:replace="Fragments/footer :: footer">
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>