<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TriCon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="shortcut icon" href="../img/logo1.png" />
	<link rel="stylesheet" type="text/css"
		  href="../../css/custom.css" />
	<link rel="stylesheet" type="text/css"
		  href="../../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css"
		  href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		  href="../../css/bootstrap.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />


</head>
<body class="bgstyle">
<div id="wrapper">
	<div th:replace="Fragments/header :: header1">
		</div>
	<div class="row">
		<div class="col-xs-12 col-md-3" th:if="${not #lists.isEmpty(users)}" th:each="users : ${users}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="profile.html">
						<h3 class="custompanel-title" th:text="${users.Email}"></h3>
						<img src="../img/1.png" class="img-circle user-image img-responsive"/>
					</a>
				</div>
				<div class="panel-body">

					<center><b><label th:text="${users.id}" > </label><br/>
						<label th:text="${users.Email}"></label>
						<br th:text="${users.Type}">
						</br></b></center>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">

				<div class="panel-body">
					<form th:action="${kas}">
						<button type="submit" id="btn-login" class="jumbotron jumbotron-lg"><h1>Welcome to Tricon ! </h1> Click here to go to your panel</button>
					</form>

				</div>

		</div>
		<div class="col-xs-12 col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="#">Students</a></li>
						<li role="presentation"><a href="#">Academia</a></li>
						<li role="presentation"><a href="#">Industry</a></li>
					</ul>
				</div>
				<div class="panel-body">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="customform-control " placeholder="Search"/>
						</div>
						<button type="submit" class="btn btn-default btn-xs">Search</button>
					</form>
					<ul class="list-unstyled">
						<li><img src="../img/1.png" class="img user-image-top img-responsive"/>Ratnasingam Kasthuriraajan</li>
						<li><img src="../img/1.png" class="img user-image-top img-responsive"/>Ratnasingam Kasthuriraajan</li>
						<li><img src="../img/1.png" class="img user-image-top img-responsive"/>Ratnasingam Kasthuriraajan</li>
						<li><img src="../img/1.png" class="img user-image-top img-responsive"/>Ratnasingam Kasthuriraajan</li>
						<li><img src="../img/1.png" class="img user-image-top img-responsive"/>Ratnasingam Kasthuriraajan</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footerbox">
	<div class="row">
		<div class="col-xs-10 col-md-4 ">
			<center><h3>About us</h3>
				<p>“To connect the university students with the leading professionals under academic supervision to make them more productive and successful.”</p>
			</center>
		</div>
		<div class="col-xs-10 col-md-4 r">
			<center><h5>Copyright &copy; TriCon.org 2017</h5></center>
		</div>
		<div class="col-xs-10 col-md-4 ">
			<center><h5>Find us on</h5>
				<ul class="list-inline ">
					<li>
						<a href="www.facebook.com"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
					</li>
				</ul></center>
		</div>
	</div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>