<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../img/logo1.png"/>
    <link rel="stylesheet" type="text/css"
          href="../css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

</head>
<body class="bg">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>


        <div class="iconsty">
            <!-- Button trigger modal to register form-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserRegister">
                <i class="fa fa-users fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="sign up here!"></i>

            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DeptRegister">
                <i class="fa fa-pencil fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Register your institute here!"></i>
            </button>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="UserRegister" tabindex="-1" role="dialog" aria-labelledby="UserRegisterLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="UserRegisterLabel">Register your details here!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
		                            <span class="fa fa-envelope"></span>
                                </span>
                                <input type="email" class="form-control" name="Email" id="email12" placeholder="Email"
                                       th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
					            <span class="input-group-addon">
						            <span class="fa fa-users"></span>
                                </span>
                                <select class="form-control" name="Type" id="UserType" th:required="required">
                                    <option value="">Select User Type </option>
                                    <option value="Student">Student</option>
                                    <option value="Lecturer">Lecturer</option>
                                    <option value="Industrialist">Industrialist</option>
                                </select>
                            </div>
                        </div>
                        <div class="controls controls-row">
                            <div class="controls controls-group">
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DeptRegister" tabindex="-1" role="dialog" aria-labelledby="DeptRegisterLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="DeptRegisterLabel">Register your Department Here</h3>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/registerDept" method="post">

                        <div class="form-group">
                            <div class="input-group input-group-sm" th:if="${not #lists.isEmpty(university)}">
					            <span class="input-group-addon">
						            <span class="fa fa-home"></span>
                                </span>
                                <select class="form-control" name="UniId" id="Univ" th:required="required">
                                    <option value="">Select University</option>
                                    <option th:each="university : ${university}" th:value="${university.Id}"
                                            th:text="${university.UniName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
					            <span class="input-group-addon">
						            <span class="fa fa-home"></span>
                                </span>
                                <input type="text" class="form-control" name="DeptName" id="Department"
                                       placeholder="Department name" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
		                            <span class="fa fa-envelope"></span>
                                </span>
                                <input type="email" class="form-control" name="Email" id="email2" placeholder="Email"
                                       th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
					            <span class="input-group-addon">
						            <span class="fa fa-phone"></span>
                                </span>
                                <input type="text" class="form-control" name="Phone" id="Phone"
                                       placeholder="Phone number" th:required="required"/>
                            </div>
                        </div>
                        <div class="controls controls-row">
                            <div class="controls controls-group">
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-8">
                    <h2>About Us</h2>
                    <h4>Tricon is a web-based matching module. It has the potential to bridge the gap between the
                        university and industry by increasing relevance of thesis topics and by making the supervision
                        process transparent and collaborative with academic and industries supervisors working in
                        teams.</h4>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a
                                    href="#">Forgot password?</a></div>
                        </div>
                        <div style="padding-top:30px" class="panel-body">
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <form id="loginform" class="form-horizontal" role="form" method="post" action="/ind/index">
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="uname" type="text" class="form-control" name="username" value=""
                                           placeholder="username or email"/>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password" type="password" class="form-control" name="password"
                                           placeholder="password"/>
                                </div>
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"/>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 controls">
                                        <button type="submit" id="btn-login" class="btn btn-success">Login</button>
                                        <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacediv">
</div>
<footer class="footerbox">
    <div class="row">
        <div class="col-xs-10 col-md-4 ">
            <center><h3>About us</h3>
                <p>“To connect the university students with the leading professionals under academic supervision to make
                    them more productive and successful.”</p>
            </center>
        </div>
        <div class="col-xs-10 col-md-4 r">
            <center><h5>Copyright &copy; TriCon.org 2017</h5></center>
        </div>
        <div class="col-xs-10 col-md-4 ">
            <center><h5>Find us on</h5>
                <ul class="list-inline ">
                    <li>
                        <a href="www.facebook.com"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                </ul>
            </center>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>