<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../img/logo1.png"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3 col-xs-10 col-sm-10 col-md-3 col-lg-3">
            <a style="color: white;" href="index.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Notification"></i></a>
            <a style="color: white;" href="weeklyReport.html">
                <i class="fa fa-file fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Weekly report "></i></a>
            <a style="color: white;" href="chat.html">
                <i class="fa fa-comments fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Chat"></i></a>
            <a style="color: white;" href="forum.html">
                <i class="fa fa-group fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Forum"></i></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header1">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-11 col-lg-11 ">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" th:fragment="adminHeader">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8" >
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3">
            <a style="color: white;" href="index.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Notification"></i></a>
            <a style="color: white;" href="weeklyReport.html">
                <i class="fa fa-file fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Committed Students"></i></a>
            <a style="color: white;" href="chat.html">
                <i class="fa fa-comments fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Chat"></i></a>
            <a style="color: white;" href="forum.html">
                <i class="fa fa-group fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Forum"></i></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="deptAdminHeader">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3">
            <a style="color: white;" href="student.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Notification"></i></a>
            <a style="color: white;" href="approve.html">
                <i class="fa fa-file fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom"
                   title="Approval of journals"></i></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" th:fragment="stuHeader">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3">
            <a style="color: white;" href="index.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Notification"></i></a>
            <a style="color: white;" href="myRecords.html">
                <i class="fa fa-file fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Journal"></i></a>
            <a style="color: white;" href="chat.html">
                <i class="fa fa-comments fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Chat"></i></a>
            <a style="color: white;" href="forum.html">
                <i class="fa fa-group fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Forum"></i></a>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" th:fragment="lecHeader">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3">

            <a style="color: white;" href="index.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Notification"></i></a>
            <a style="color: white;" href="committedStudents.html">
                <i class="fa fa-user fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Committed Students"></i></a>
            <a style="color: white;" href="chat.html">
                <i class="fa fa-comments fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Chat"></i></a>
            <a style="color: white;" href="forum.html">
                <i class="fa fa-group fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Forum"></i></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="indHeader">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty col-xs-10 col-sm-10 col-md-3 col-lg-3">

            <a style="color: white;" href="index.html">
                <i class="fa fa-home fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Home"></i></a>
            <a style="color: white;" href="notification.html">
                <i class="fa fa-bell fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Notification"></i></a>
            <a style="color: white;" href="committedStudents.html">
                <i class="fa fa-user fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Committed Students"></i></a>
            <a style="color: white;" href="chat.html">
                <i class="fa fa-comments fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Chat"></i></a>
            <a style="color: white;" href="forum.html">
                <i class="fa fa-group fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Forum"></i></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <form th:action="@{/logout}" method="post">
                <button  type="submit">
                    <i class="fa fa-lock fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Sign out"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>