<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="../img/logo1.png" />
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />


</head>
<body class="bg">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white; font-size: 32px;" href="index.html">TriCon</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input class="customform-control" type="text" placeholder="Search"/>
                    <span class="input-group-addon"><i class="fa fa-search  fa-1x"></i></span>
                </div>
            </form>
        </div>
        <div class="iconsty">
            <a style="color: white;" href="weeklyreport.html">
                <i class="fa fa-users fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="sign up here!"></i></a>
            <a style="color: white;" href="weeklyreport.html">
                <i class="fa fa-pencil fa-stack fa-2x" data-toggle="tooltip" data-placement="bottom" title="Register your institute here!"></i></a>

        </div>

    </nav>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-8" >
                    <h2>About Us</h2>
                    <h4>Tricon is a web-based matching module. It has the potential to bridge the gap between the university and industry by increasing relevance of thesis topics and by making the supervision process transparent and collaborative with academic and industries supervisors working in teams.</h4>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4" >
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                        </div>

                        <div style="padding-top:30px" class="panel-body" >
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <form id="loginform" class="form-horizontal" role="form" method="post" action="/ind/index">
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="username" type="text" class="form-control" name="username" value="" placeholder="username or email"/>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password" type="password" class="form-control" name="password" placeholder="password"/>
                                </div>
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"/> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 controls">
                                        <button type="submit" id="btn-login" class="btn btn-success">Login</button>
                                        <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacediv">
</div>
<footer class="footerbox">
    <div class="row">
        <div class="col-xs-10 col-md-4 ">
            <center><h3>About us</h3>
                <p>“To connect the university students with the leading professionals under academic supervision to make them more productive and successful.”</p>
            </center>
        </div>
        <div class="col-xs-10 col-md-4 r">
            <center><h5>Copyright &copy; TriCon.org 2017</h5></center>
        </div>
        <div class="col-xs-10 col-md-4 ">
            <center><h5>Find us on</h5>
                <ul class="list-inline ">
                    <li>
                        <a href="www.facebook.com"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                </ul></center>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>