<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TriCon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../img/logo1.png"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>


</head>
<body>

<div class="col-xs-12 col-md-3" th:fragment="stuSideBar">
    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="main-menustu">
                <li>
                    <div class="custompanel row">
                        <div class="col-xs-16 col-md-6">
                            <img src="../img/1.png" class="img-responsive img-circle" alt="Responsive image"/></div>
                        <div class="col-xs-16 col-md-6 usertext">
                            <ul class="nav">
                                <li>Name</li>
                                <li>Reg.No</li>
                                <li>University</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="active-menu" href="myRecords.html"><i class="fa fa-book fa-2x"></i> My Records</a>
                </li>
                <li>
                    <a href="weeklyReport.html"><i class="fa fa-edit fa-2x"></i> Weekly Report</a>
                </li>
                <li>
                    <a href="progReport.html"><i class="fa fa-file-o fa-2x"></i> Progress Report</a>
                </li>
                <li>
                    <a href="inspectReport.html"><i class="fa fa-file-text-o fa-2x"></i> Inspection Report</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="col-xs-12 col-md-3" th:fragment="sidebar">

    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="main-menu">
                <li>
                    <div class="custompanel row">
                        <div class="col-xs-16 col-md-6">
                            <img src="../img/1.png" class="img-responsive img-circle" alt="Responsive image"/></div>
                        <div class="col-xs-16 col-md-6 usertext">
                            <ul class="nav">
                                <li>Name</li>
                                <li>Reg.No</li>
                                <li>University</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-edit fa-2x"></i> Weekly Report</a>
                </li>
                <li>
                    <a href="ui.html"><i class="fa fa-file-o fa-2x"></i> Progress Report</a>
                </li>
                <li>
                    <a href="tab-panel.html"><i class="fa fa-file-text-o fa-2x"></i> Inspection Report</a>
                </li>
                <li>
                    <a href="chart.html"><i class="fa fa-folder-o fa-2x"></i>Final Report</a>
                </li>
                <li>
                    <a href="table.html"><i class="fa fa-table fa-2x"></i> Novation</a>
                </li>
            </ul>

        </div>

    </nav>
</div>

<div class="col-xs-12 col-md-3" th:fragment="adminSideBar">

    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="Admin">
                <li>
                    <a href="universities.html"><i class="fa fa-edit fa-2x"></i> Add University</a>
                </li>
                <li>
                    <a href="universityDetails.html"><i class="fa fa-file-text-o fa-2x"></i> University Details</a>
                </li>
                <li>
                    <a href="userDetails.html"><i class="fa fa-user fa-2x"></i> User Details</a>
                </li>
                <li>
                    <a href="departmentDetails.html"><i class="fa fa-file-text-o fa-2x"></i> Department Details</a>
                </li>

                <li>
                    <a href="studentDetails.html"><i class="fa fa-file-text-o fa-2x"></i> Student Details</a>
                </li>
                <li>
                    <a href="lecturerDetails.html"><i class="fa fa-file-text-o fa-2x"></i>Lecturers Details</a>
                </li>
                <li>
                    <a href="industrialistDetails.html"><i class="fa fa-file-text-o fa-2x"></i> Industrialists
                        Details</a>
                </li>
            </ul>

        </div>

    </nav>
</div>

<div class="col-xs-12 col-md-3" th:fragment="deptAdminSideBar">

    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="DeptAdmin">
                <li>
                    <div class="custompanel row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <img src="../img/1.png" class="img-responsive img-circle" alt="Responsive image"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <ul class="nav" th:if="${not #lists.isEmpty(department)}"
                                th:each="department: ${department}">
                                <li th:text="${department.Id}"></li>
                                <li th:text="${department.DeptName}"></li>
                                <li th:each="university: ${university}" th:if="${university.Id==department.UniId}"
                                    th:text="${university.UniName}"></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="active-menu" href="student.html"><i class="fa fa-edit fa-2x"></i> Add Students</a>
                </li>
                <li>
                    <a href="studentDetails.html"><i class="fa fa-file-text-o fa-2x"></i> Student Details</a>
                </li>
                <li>
                    <a href="lecturer.html"><i class="fa fa-edit fa-2x"></i> Add Lecturers</a>
                </li>
                <li>
                    <a href="lecturerDetails.html"><i class="fa fa-file-text-o fa-2x"></i>Lecturers Details</a>
                </li>
                <li>
                    <a href="industrialist.html"><i class="fa fa-edit fa-2x"></i> Industrialists</a>
                </li>
                <li>
                    <a href="industrialistDetails.html"><i class="fa fa-file-text-o fa-2x"></i> Industrialists
                        Details</a>
                </li>
            </ul>

        </div>

    </nav>
</div>

<div class="col-xs-12 col-md-3" th:fragment="lecSideBar">

    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="main-menulec">
                <li>
                    <div class="custompanel row">
                        <div class="col-xs-16 col-md-6">
                            <img src="../img/1.png" class="img-responsive img-circle" alt="Responsive image"/></div>
                        <div class="col-xs-16 col-md-6 usertext">
                            <ul class="nav">
                                <li>Name</li>
                                <li>Reg.No</li>
                                <li>University</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <form action="/Lec/weeklyReport" method="post">
                        <button name="journal" th:value="${journalId}"><i class="fa fa-file-edit fa-2x"></i> Weekly Report</button>
                    </form>
                </li>
                <li>
                <form action="/Lec/progressReport" method="post">
                    <button name="journal" th:value="${journalId}"><i class="fa fa-file-text fa-2x"></i> Progress Report</button>
                </form>
            </li>

                <li>
                    <form action="/Lec/inspectReport" method="post">
                    <button name="journal" th:value="${journalId}"><i class="fa fa-file-text-o fa-2x"></i> Inspection Report</button>
                    </form>
                </li>
            </ul>

        </div>

    </nav>
</div>

<div class="col-xs-12 col-md-3" th:fragment="indSideBar">

    <nav class="custompanel" role="navigation">

        <div class="sidebar-collapse">

            <ul class="nav" id="main-menuind">
                <li>
                    <div class="custompanel row">
                        <div class="col-xs-16 col-md-6">
                            <img src="../img/1.png" class="img-responsive img-circle" alt="Responsive image"/></div>
                        <div class="col-xs-16 col-md-6 usertext">
                            <ul class="nav">
                                <li>Name</li>
                                <li>Reg.No</li>
                                <li>University</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <form action="/Ind/weeklyReport" method="post">
                        <button name="journal" th:value="${journalId}"><i class="fa fa-file-file fa-2x"></i> Weekly Report</button>
                    </form>
                </li>
                <li>
                    <form action="/Ind/progressReport" method="post">
                        <button name="journal" th:value="${journalId}"><i class="fa fa-file-text fa-2x"></i> Progress Report</button>
                    </form>
                </li>

                <li>
                    <form action="/Ind/inspectReport" method="post">
                        <button name="journal" th:value="${journalId}"><i class="fa fa-file-text-o fa-2x"></i> Inspection Report</button>
                    </form>
                </li>
            </ul>

        </div>

    </nav>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>